# API framework
connexion[uvicorn,flask,swagger-ui]==3.0.5
tinydb==4.8.0

# Misc utils
setuptools==69.2.0
event-channel==0.4.3

# IO extensions
spidev==3.6

# Audio
sox==1.4.1

# Computer Vision
grpcio==1.62.1
numpy==1.26.4
Pillow==10.2.0
protobuf==4.25.2
opencv-contrib-python-headless==4.9.0.80
tflite-runtime
pytesseract==0.3.10
pyzbar==0.1.9
