# Basic set of required packages. If you need to run on a real system (NOT in STUB mode)
#  install the packages in `requirements.txt` too.

absl-py==0.9.0
astor==0.8.1
Babel==2.8.0
certifi==2018.4.16
chardet==3.0.4
click==7.0
clickclick==1.2.2
connexion==1.4.2
Flask==1.1.1
Flask-Babel==0.12.2
Flask-Cors==3.0.8
gast==0.2.2
grpcio==1.26.0
idna==2.8
pybind11==2.4.3
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.11.1
jsonschema==2.6.0
Markdown==3.1.1
MarkupSafe==1.1.1
numpy==1.17.4
opencv-contrib-python==4.1.1.26
pigpio==1.45
Pillow==7.0.0
protobuf==3.11.3
Pypubsub==4.0.0
pytz==2018.4
pyyaml>=4.2b1
pyzbar==0.1.7
requests==2.22.0
six==1.14.0
swagger-spec-validator==2.3.1
termcolor==1.1.0
tinydb==3.12.1
tensorflow==2.5.0
tensorflow_hub>=0.7.0
urllib3==1.24.2
Werkzeug==0.15.3
setuptools==42.0.1
smbus2==0.3.0
spidev==3.4
cachetools==3.0.0
pytesseract==0.3.4
