# API framework
connexion[uvicorn,flask,swagger-ui]==3.0.5
tinydb==4.8.0
cloud_api_robot_client @ git+https://github.com/CoderBotOrg/cloud_api_robot_client.git

# Misc utils
setuptools==69.0.3
event-channel==0.4.3

# IO extensions
pigpio==1.78
smbus2==0.4.3
spidev==3.6

# Audio
sox==1.4.1
PyAudio==0.2.14
pyalsaaudio==0.10.0

# Computer Vision
grpcio==1.60.0
numpy==1.24.3
Pillow==10.1.0
protobuf==4.25.1
opencv-contrib-python==4.5.5.62
tflite-runtime==2.13.0
pytesseract==0.3.10
picamera==1.13
pyzbar==0.1.9
