# Basic set of required packages. If you need to run on a real system (NOT in STUB mode), install the packages in `requirements.txt` too.

absl-py==0.4.1
apiai==1.2.3
astor==0.7.1
Babel==2.5.3
certifi==2018.4.16
chardet==3.0.4
click==6.7
clickclick==1.2.2
connexion==1.4.2
Flask==1.0.2
Flask-Babel==0.11.2
Flask-Cors==3.0.4
gast==0.2.0
grpcio==1.15.0
idna==2.6
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
Markdown==2.6.11
MarkupSafe==1.0
numpy==1.14.3
opencv-contrib-python
pigpio==1.40.post1
Pillow==5.1.0
protobuf==3.6.1
Pypubsub==4.0.0
pytz==2018.4
PyYAML==3.12
requests==2.20.0
six==1.11.0
smbus2==0.2.0
swagger-spec-validator==2.3.1
tensorboard==1.11.0
tensorflow==1.11.0
termcolor==1.1.0
tinydb==3.12.1
urllib3==1.23
Werkzeug==0.14.1
setuptools==39.1.0
cachetools==3.0.0
