<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet"  href="../css/jquery.mobile-1.4.0.min.css">
  <meta charset="utf-8">
  <title>CoderBot - Blockly</title>
  <script type="text/javascript" src="js/blockly/blockly_compressed.js"></script>
  <script type="text/javascript" src="js/blockly/blocks_compressed.js"></script>
  <script type="text/javascript" src="js/blockly/javascript_compressed.js"></script>
  <script type="text/javascript" src="js/blockly/python_compressed.js"></script>
  <script type="text/javascript" src="js/blockly/en.js"></script>
  <script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="js/jquery.mobile-1.4.0.min.js"></script>
  <script type="text/javascript" src="js/coderbot.js"></script>
  <script type="text/javascript" src="js/blockly/blocks.js"></script>
  <script>
    $(document).ready(function() {
      Blockly.inject(document.getElementById('blocklyDiv'),
          {path: '../../', toolbox: document.getElementById('toolbox')});
      $("#b_show_code").on("click", showCode).on("touchend",showCode);
      $("#b_run_code").on("click", runCode).on("touchend",runCode);
      $("#b_end_code").on("click", endCode).on("touchend",endCode);
      $("#b_save_code").on("click", saveCode).on("touchend",saveCode);
      $("#b_control").on("click", goControl).on("touchend",goControl);
      try {
        var data =  {'name': 'one'};
        $.ajax({url: '/program/load', data: data, type: "GET", success:function(data) {
	  Blockly.mainWorkspace.clear();
          var xml = Blockly.Xml.textToDom(data);
          Blockly.Xml.domToWorkspace(Blockly.mainWorkspace, xml);
	}});
      } catch (e) {
        alert(e);
      }
    });

    function showCode() {
      // Generate JavaScript code and display it.
      Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
      var code = Blockly.Python.workspaceToCode();
      alert(code);
    }

    function saveCode() {
      // Generate Dom code and display it.
      Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
      var xml_code = Blockly.Xml.workspaceToDom(Blockly.mainWorkspace);
      var code = Blockly.Xml.domToText(xml_code);
      var data =  {'name': 'one', 'dom_code': code};
      $.ajax({url: '/program/save', data: data, type: "POST", success:function() {
	  alert('saved ok');
	}});
    }

    function runCode() {
      var bot = new CoderBot();
      // Generate JavaScript code and run it.
      window.LoopTrap = 1000;
      Blockly.Python.INFINITE_LOOP_TRAP = '  program.check_end()\n';
      var code = Blockly.Python.workspaceToCode();
      Blockly.Python.INFINITE_LOOP_TRAP = null;
      try {
        var data =  {'name': 'one',
                     'code': code};
        $.ajax({url: '/program/exec', data: data, type: "POST"});
      } catch (e) {
        alert(e);
      }
    }
    function endCode() {
        $.ajax({url: '/program/end', type: "POST"});
    }
    function goControl() {
      $.mobile.changePage("/");
    }
  </script>
</head>
<body>
<div data-role="page" class="">
 <div data-role="header"><h1>CoderBot - Blockly</h1></div>
 <div role="main" class="ui-content">
  <fieldset class="ui-grid-c">
    <div class="ui-block-a"><button id="b_show_code" class="ui-btn" type="button">Show Code</button></div>
    <div class="ui-block-b"><button id="b_run_code" class="ui-btn" type="button">Run Code</button></div>
    <div class="ui-block-c"><button id="b_end_code" class="ui-btn" type="button">Stop Code</button></div>
    <div class="ui-block-d"><button id="b_save_code" class="ui-btn" type="button">Save Code</button></div>
  </fieldset>
  <div id="blocklyDiv" style="height: 480px; width:100%;"></div>
  <xml id="toolbox" style="display: none">
    <category name="Control">
      <block type="controls_if"></block>
      <block type="controls_repeat_ext">
        <value name="TIMES">
          <block type="math_number">
            <field name="NUM">10</field>
          </block>
        </value>
      </block>
      <block type="controls_whileUntil"></block>
    </category>
    <category name="Logic">
      <block type="logic_compare"></block>
      <block type="logic_operation"></block>
      <block type="logic_negate"></block>
      <block type="logic_boolean"></block>
    </category>
    <category name="Math">
      <block type="math_number"></block>
      <block type="math_arithmetic"></block>
      <block type="math_single"></block>
    </category>
    <category name="Text">
      <block type="text"></block>
      <block type="text_length"></block>
      <block type="text_print"></block>
    </category>
    <category name="CoderBot">
      <block type="coderbot_moveForward"></block>
      <block type="coderbot_moveBackward"></block>
      <block type="coderbot_turnLeft"></block>
      <block type="coderbot_turnRight"></block>
      <block type="coderbot_say"></block>
    </category>      
    <category name="CoderBot Advanced">
      <block type="coderbot_adv_move"></block>
      <block type="coderbot_adv_stop"></block>
      <block type="coderbot_adv_pathAhead"></block>
    </category>      
  </xml>
 </div>
 <div data-role="navbar">
  <ul>
   <li><button id="b_control" type="button">Control</button></li>
   <li><a href="#" class="ui-btn-active">Blockly</a></li>
  </ul>
 </div><!-- /navbar -->
</div>
</body>
</html>
