<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet"  href="../css/jquery.mobile-1.4.0.min.css">
  <meta charset="utf-8">
  <title>CoderBot - Blockly</title>
  <script type="text/javascript" src="js/blockly/blockly_compressed.js"></script>
  <script type="text/javascript" src="js/blockly/blocks_compressed.js"></script>
  <script type="text/javascript" src="js/blockly/javascript_compressed.js"></script>
  <script type="text/javascript" src="js/blockly/en.js"></script>
  <script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="js/jquery.mobile-1.4.0.min.js"></script>
  <script type="text/javascript" src="js/coderbot.js"></script>
  <script type="text/javascript" src="js/blockly/blocks.js"></script>
  <script>
    $(document).ready(function() {
      Blockly.inject(document.getElementById('blocklyDiv'),
          {path: '../../', toolbox: document.getElementById('toolbox')});
      $("#b_show_code").on("click", showCode).on("touchend",showCode);
      $("#b_run_code").on("click", runCode).on("touchend",runCode);
      $("#b_control").on("click", goControl).on("touchend",goControl);
    });

    function showCode() {
      // Generate JavaScript code and display it.
      Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
      var code = Blockly.JavaScript.workspaceToCode();
      alert(code);
    }

    function runCode() {
      var bot = new CoderBot();
      // Generate JavaScript code and run it.
      window.LoopTrap = 1000;
      Blockly.JavaScript.INFINITE_LOOP_TRAP =
          'if (--window.LoopTrap == 0) throw "Infinite loop.";\n';
      var code = Blockly.JavaScript.workspaceToCode();
      Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
      try {
        eval(code);
      } catch (e) {
        alert(e);
      }
    }
    function goControl() {
      $.mobile.changePage("/");
    }
  </script>
</head>
<body>
<div data-role="page" class="">
 <div data-role="header"><h1>CoderBot - Blockly</h1></div>
 <div role="main" class="ui-content">
  <fieldset class="ui-grid-a">
    <div class="ui-block-a"><button id="b_show_code" class="ui-btn" type="button">Show Code</button></div>
    <div class="ui-block-b"><button id="b_run_code" class="ui-btn" type="button">Run Code</button></div>
  </fieldset>
  <div id="blocklyDiv" style="height: 480px; width:100%;"></div>
  <xml id="toolbox" style="display: none">
    <category name="Control">
      <block type="controls_if"></block>
      <block type="controls_repeat_ext">
        <value name="TIMES">
          <block type="math_number">
            <field name="NUM">10</field>
          </block>
        </value>
      </block>
      <block type="controls_whileUntil"></block>
    </category>
    <category name="Logic">
      <block type="logic_compare"></block>
      <block type="logic_operation"></block>
      <block type="logic_negate"></block>
      <block type="logic_boolean"></block>
    </category>
    <category name="Math">
      <block type="math_number"></block>
      <block type="math_arithmetic"></block>
      <block type="math_single"></block>
    </category>
    <category name="Text">
      <block type="text"></block>
      <block type="text_length"></block>
      <block type="text_print"></block>
    </category>
    <category name="CoderBot">
      <block type="coderbot_moveForward"></block>
      <block type="coderbot_moveBackward"></block>
      <block type="coderbot_turnLeft"></block>
      <block type="coderbot_turnRight"></block>
    </category>
  </xml>
 </div>
 <div data-role="navbar">
  <ul>
   <li><button id="b_control" type="button">Control</button></li>
   <li><a href="#" class="ui-btn-active">Blockly</a></li>
  </ul>
 </div><!-- /navbar -->
</div>
</body>
</html>
