<script type="text/javascript">
var CODERBOT_MOV_FW_DEF_SPEED={{config.move_fw_speed}};
var CODERBOT_MOV_FW_DEF_ELAPSE={{config.move_fw_elapse}};
var CODERBOT_MOV_TR_DEF_SPEED={{config.move_tr_speed}};
var CODERBOT_MOV_TR_DEF_ELAPSE={{config.move_tr_elapse}};
var CODERBOT_PROG_MOVE_MOTION="{{config.prog_move_motion}}"=="yes";
var CODERBOT_PROG_MOVE_MPU="{{config.prog_move_mpu}}"=="yes";
var CODERBOT_PROG_LEVEL="{{config.prog_level}}";
var CODERBOT_PROG_SCROLLBARS="{{config.prog_scrollbars}}"=="true";
var CODERBOT_PROG_MAXBLOCKS={{config.prog_maxblocks}}<=0?Infinity:{{config.prog_maxblocks}};
var CODERBOT_PROG_SAVEONRUN="{{config.prog_saveonrun}}"=="true";
var CODERBOT_CTRL_FW_SPEED="{{config.ctrl_fw_speed}}";
var CODERBOT_CTRL_FW_ELAPSE="{{config.ctrl_fw_elapse}}";
var CODERBOT_CTRL_TR_SPEED="{{config.ctrl_tr_speed}}";
var CODERBOT_CTRL_TR_ELAPSE="{{config.ctrl_tr_elapse}}";
var CODERBOT_CTRL_COUNTER="{{config.ctrl_counter}}"=="yes";
var CODERBOT_CTRL_MOVE_MOTION="{{config.ctrl_move_motion}}"=="yes";
var CODERBOT_CTRL_MOVE_MPU="{{config.ctrl_move_mpu}}"=="yes";
var CODERBOT_CNN_MODEL_LIST={% autoescape false %}{{cnn_model_names}}{% endautoescape %};

var BotMessages = Object();
BotMessages.Input = "{%trans%}Say what:{%endtrans%}";
BotMessages.Saved = "{%trans%}Saved{%endtrans%}";
BotMessages.ProgramSaved = "{%trans%}Program saved{%endtrans%}";
BotMessages.ProgramExists = "{%trans%}Program name already in use, overwrite?{%endtrans%}";
BotMessages.DeletePhoto = "{%trans%}Delete{%endtrans%}";
BotMessages.DeletePhotoConfirm = "{%trans%}Delete photo{%endtrans%} ";
BotMessages.CounterReset = "{%trans%}Reset move counter?{%endtrans%}"
BotMessages.ProgramStatusRunning = "{%trans%}is running{%endtrans%}";
BotMessages.ProgramStatusStop = "{%trans%}stopped{%endtrans%}";
BotMessages.ProgramDialogStop = "{%trans%}Stop{%endtrans%}";
BotMessages.ProgramDialogClose = "{%trans%}Close{%endtrans%}";
BotMessages.UpdateSystem = "{%trans%}Update System? (this requires that CoderBot is connected to the internet (via wifi or lan cable, the operation will take a few minutes).{%endtrans%}"
BotMessages.TagAlreadyExists = "{%trans%}Tag already exists.{%endtrans%}";
BotMessages.ColorAtPoint = "{%trans%}Color at point: {%endtrans%}";
BotMessages.ModelTraining = "{%trans%}Model is training, check model lists to monitor training status.{%endtrans%}";
</script>
<style>
.ui-content-stream {
background:url('/video/stream') no-repeat;
background-size: auto 100% !important;
background-position: center;
padding:0px;
}
.ui-content-stream-program {
background:url('/video/stream') no-repeat;
background-size: auto auto !important;
background-position: center;
}
.ui-content-hud {
top:0px; left:0px; width:100%; height:100%; 
background:url('/images/{{config.ctrl_hud_image}}') no-repeat; 
background-size: auto 100% !important;
background-position: center;
height:100%;
}
</style>
