<div data-role="page" id="page-preferences">
 <div data-role="header">
  <a href="java" href="#" data-rel="back" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-carat-l ui-btn-a">{% trans %}Back{% endtrans %}</a>
  <h1>CoderBot</h1>
 </div>
 <div role="main" class="ui-content">
  <form class="config" id="f_config">
   <div data-role="tabs" id="tabs">
    <div data-role="navbar">
     <ul>
      <li><a href="#t_control" class="ui-btn-active" data-ajax="true">{% trans %}Control{% endtrans %}</a></li>
      <li><a href="#t_programming" data-ajax="true">{% trans %}Programming{% endtrans %}</a></li>
      <li><a href="#t_sound" data-ajax="true">{% trans %}Sounds{% endtrans %}</a></li>
      <li><a href="#t_sensor" data-ajax="true">{% trans %}Camera{% endtrans %}</a></li>
      <li><a href="#t_movement" data-ajax="true">{% trans %}Movement{% endtrans %}</a></li>
      <li><a href="#t_start" data-ajax="true">{% trans %}Start{% endtrans %}</a></li>
      <li><a href="#t_button" data-ajax="true">{% trans %}Button{% endtrans %}</a></li>
      <li><a href="#t_ui" data-ajax="true">{% trans %}User Interface{% endtrans %}</a></li>
      <li><a href="#t_wifi" data-ajax="true">{% trans %}WiFi{% endtrans %}</a></li>
      <li><a href="#t_halt" data-ajax="true">{% trans %}Restart, Halt{% endtrans %}</a></li>
     </ul>
    </div>
    <div id="t_control" class="ui-body-d ui-content">
     <div class="ui-field-contain">
      <label for="i_ctrl_move_mode">{% trans %}Movement assisted by vision{% endtrans %}</label>
      <input type="checkbox" data-role="flipswitch" id="i_ctrl_move_mode" name="ctrl_move_motion" value="yes"{%if config.ctrl_move_motion%} checked{%endif%}>
     </div>
     <div class="ui-field-contain">
      <label for="i_ctrl_move_mode_mpu">{% trans %}Movement assisted by Gyroscope{% endtrans %}</label>
      <input type="checkbox" data-role="flipswitch" id="i_ctrl_move_mode_mpu" name="ctrl_move_mpu" value="yes"{%if config.ctrl_move_mpu%} checked{%endif%}>
     </div>
     <legend>{% trans %}Step timing | distance / angle{% endtrans %}</legend>
     <label for="i_ctrl_fw_speed">{% trans %}Forward speed{% endtrans %}</label>
     <input type="text" id="i_ctrl_fw_speed" name="ctrl_fw_speed" value="{{config.ctrl_fw_speed}}">
     <label for="i_ctrl_fw_elapse">{% trans %}Forward elapse / distance{% endtrans %}</label>
     <input type="text" id="i_ctrl_fw_elapse" name="ctrl_fw_elapse" value="{{config.ctrl_fw_elapse}}">
     <label for="i_ctrl_tr_speed">{% trans %}Turn speed{% endtrans %}</label>
     <input type="text" id="i_ctrl_tr_speed" name="ctrl_tr_speed" value="{{config.ctrl_tr_speed}}">
     <label for="i_ctrl_tr_elapse">{% trans %}Turn elapse / angle{% endtrans %}</label>
     <input type="text" id="i_ctrl_tr_elapse" name="ctrl_tr_elapse" value="{{config.ctrl_tr_elapse}}">
     <div class="ui-field-contain">
      <label for="i_ctrl_counter">{% trans %}Show control counter{% endtrans %}</label>
      <input type="checkbox" data-role="flipswitch" id="i_ctrl_counter" name="ctrl_counter" value="yes"{%if config.ctrl_counter%} checked{%endif%}>
     </div>
     <label for="i_ctrl_hud_image">{% trans %}HUD image name{% endtrans %}</label>
     <input type="text" id="i_ctrl_hud_image" name="ctrl_hud_image" value="{{config.ctrl_hud_image}}">
    </div>
    <div id="t_programming" class="ui-body-d ui-content">
     <fieldset data-role="controlgroup" data-mini="true">
      <legend>{% trans %}Editor level{% endtrans %}</legend>
      <input type="radio" name="prog_level" id="r_prog_level_a" value="basic_move" {%if config.prog_level=='basic_move'%}checked="checked"{%endif%}>
      <label for="r_prog_level_a">{% trans %}Move{% endtrans %}</label>
      <input type="radio" name="prog_level" id="r_prog_level_b" value="basic" {%if config.prog_level=='basic'%}checked="checked"{%endif%}>
      <label for="r_prog_level_b">{% trans %}Basic{% endtrans %}</label>
      <input type="radio" name="prog_level" id="r_prog_level_c" value="std" {%if config.prog_level=='std'%}checked="checked"{%endif%}>
      <label for="r_prog_level_c">{% trans %}Standard{% endtrans %}</label> 
      <input type="radio" name="prog_level" id="r_prog_level_d" value="adv" {%if config.prog_level=='adv'%}checked="checked"{%endif%}>
      <label for="r_prog_level_d">{% trans %}Advanced{% endtrans %}</label>     
      <input type="radio" name="prog_level" id="r_prog_level_e" value="py" {%if config.prog_level=='py'%}checked="checked"{%endif%}>
      <label for="r_prog_level_e">{% trans %}Python{% endtrans %}</label>     
     </fieldset>
     <fieldset data-role="controlgroup" data-mini="true">
      <legend>{% trans %}Program editor details{% endtrans %}</legend>
      <label for="c_prog_scrollbars">{% trans %}Shows Editor scrollbars{% endtrans %}</label>
      <input type="checkbox" name="prog_scrollbars" id="c_prog_scrollbars" value="true" {%if config.prog_scrollbars=='true'%}checked="checked"{%endif%}>
      <label for="c_prog_saveonrun">{% trans %}Save program before every run{% endtrans %}</label>
      <input type="checkbox" name="prog_saveonrun" id="c_prog_saveonrun" value="true" {%if config.prog_saveonrun=='true'%}checiked="checked"{%endif%}>
     </fieldset>
     <div class="ui-field-contain">
      <label for="i_prog_move_mode">{% trans %}Movement assisted by vision{% endtrans %}</label>
      <input type="checkbox" data-role="flipswitch" id="i_prog_move_mode" name="prog_move_motion" value="yes"{%if config.prog_move_motion%} checked{%endif%}>
     </div>
     <div class="ui-field-contain">
      <label for="i_prog_move_mode_mpu">{% trans %}Movement assisted by Gyroscope{% endtrans %}</label>
      <input type="checkbox" data-role="flipswitch" id="i_prog_move_mode_mpu" name="prog_move_mpu" value="yes"{%if config.prog_move_mpu%} checked{%endif%}>

     </div>
     <label for="i_move_fw_speed">{% trans %}Forward speed{% endtrans %}</label>
     <input type="text" id="i_move_fw_speed" name="move_fw_speed" value="{{config.move_fw_speed}}">
     <label for="i_move_fw_elapse">{% trans %}Forward elapse / distance{% endtrans %}</label>
     <input type="text" id="i_move_fw_elapse" name="move_fw_elapse" value="{{config.move_fw_elapse}}">
     <label for="i_move_tr_speed">{% trans %}Turn speed{% endtrans %}</label>
     <input type="text" id="i_move_tr_speed" name="move_tr_speed" value="{{config.move_tr_speed}}">
     <label for="i_move_tr_elapse">{% trans %}Turn elapse / angle{% endtrans %}</label>
     <input type="text" id="i_move_tr_elapse" name="move_tr_elapse" value="{{config.move_tr_elapse}}">
     <fieldset data-role="controlgroup" data-mini="true">
      <legend>{% trans %}Other program parameters{% endtrans %}</legend>
      <label for="c_prog_video_rec">{% trans %}Auto record video on program run{% endtrans %}</label>
      <input type="checkbox" name="prog_video_rec" id="c_prog_video_rec" value="true" {%if config.prog_video_rec=='true'%}checked="checked"{%endif%}>
     </fieldset>
      <label for="c_prog_maxblocks">{% trans %}Max number of blocks allowed{% endtrans %}</label>
      <input type="text" name="prog_maxblocks" id="c_prog_maxblocks" value="{{config.prog_maxblocks}}">
    </div>
    <div id="t_sound" class="ui-body-d ui-content">
     <label for="i_sound_start">{% trans %}Start sound{% endtrans %}</label>
     <input type="text" id="i_sound_start" name="sound_start" value="{{config.sound_start}}">
     <label for="i_sound_stop">{% trans %}Stop sound{% endtrans %}</label>
     <input type="text" id="i_sound_stop" name="sound_stop" value="{{config.sound_stop}}">
     <label for="i_sound_shutter">{% trans %}Shutter sound{% endtrans %}</label>
     <input type="text" id="i_sound_shutter" name="sound_shutter" value="{{config.sound_shutter}}">
    </div>
    <div id="t_sensor" class="ui-body-d ui-content">
     <legend>{% trans %}Camera parameters{% endtrans %}</legend>
     <label for="i_camera_exposure_mode">{% trans %}Exposure mode{% endtrans %}</label>
     <select name="camera_exposure_mode" id="i_camera_exposure_mode" value="{{config.camera_exposure_mode}}">
       <option value="auto"{%if config.camera_exposure_mode=='auto'%} selected{%endif%}>Auto</option>
       <option value="sports"{%if config.camera_exposure_mode=='sports'%} selected{%endif%}>Sports</option>
       <option value="night"{%if config.camera_exposure_mode=='night'%} selected{%endif%}>Night</option>
       <option value="fixedfps"{%if config.camera_exposure_mode=='fixedfps'%} selected{%endif%}>Fixed FPS</option>
       <option value="antishake"{%if config.camera_exposure_mode=='antishake'%} selected{%endif%}>Anti shake</option>
       <option value="verylong"{%if config.camera_exposure_mode=='verylong'%} selected{%endif%}>Very long</option>
     </select>
    <label for="i_camera_framerate">{% trans %}Camera framerate{% endtrans %}</label>
    <input type="range" id="i_camera_framerate" name="camera_framerate" value="{{config.camera_framerate}}" min="5" max="30" step="5" value="20">
    <label for="i_camera_jpeg_quality">{% trans %}Camera jpeg quality{% endtrans %}</label>
    <input type="range" id="i_camera_jpeg_quality" name="camera_jpeg_quality" value="{{config.camera_jpeg_quality}}" min="1" max="100" step="1" value="20">
    <label for="i_camera_jpeg_bitstream">{% trans %}Camera video bitrate{% endtrans %}</label>
    <input type="range" id="i_camera_jpeg_quality" name="camera_jpeg_bitrate" value="{{config.camera_jpeg_bitrate}}" min="1000000" max="10000000" step="1000000" value="3000000">
    <label for="i_cv_image_factor">{% trans %}CV image resize factor (1/x){% endtrans %}</label>
    <input type="range" id="i_cv_image_factor" name="cv_image_factor" value="{{config.cv_image_factor}}" min="1" max="4" step="1" value="4">
    <label for="i_camera_path_object_size_min">{% trans %}Path object min size{% endtrans %}</label>
    <input type="text" id="i_camera_path_object_size_min" name="camera_path_object_size_min" value="{{config.camera_path_object_size_min}}">
    <label for="i_camera_path_object_size_max">{% trans %}Path object max size{% endtrans %}</label>
    <input type="text" id="i_camera_path_object_size_max" name="camera_path_object_size_max" value="{{config.camera_path_object_size_max}}">
    <label for="i_camera_color_object_size_min">{% trans %}Color object min size{% endtrans %}</label>
    <input type="text" id="i_camera_color_object_size_min" name="camera_color_object_size_min" value="{{config.camera_color_object_size_min}}">
    <label for="i_camera_color_object_size_max">{% trans %}Color object max size{% endtrans %}</label>
    <input type="text" id="i_camera_color_object_size_max" name="camera_color_object_size_max" value="{{config.camera_color_object_size_max}}">
    <a href="#popup-cnn-models" data-rel="popup" id="b_cnn_model_manage" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini">{% trans %}Manage CNN Models{% endtrans %}</a>
     <label for="i_cnn_default_model">{% trans %}Default CNN Model{% endtrans %}</label>
     <select name="cnn_default_model" id="i_cnn_default_model" value="{{config.cnn_default_model}}">
     </select>
    </div>
    <div id="t_movement" class="ui-body-d ui-content">
     <label for="i_move_motor_mode">{% trans %}Motor control mode{% endtrans %}</label>
     <input type="text" id="i_move_motor_mode" name="move_motor_mode" value="{{config.move_motor_mode}}">
     <label for="i_move_motor_trim">{% trans %}Trim factor (1.0 = center){% endtrans %}</label>
     <input type="text" id="i_move_motor_trim" name="move_motor_trim" value="{{config.move_motor_trim}}" min="0.8" max="1.2" step="0.01" value="1.0">
     <label for="i_move_power_angle_1">{% trans %}Power (target angle -15){% endtrans %}</label>
     <input type="text" id="i_move_power_angle_1" name="move_power_angle_1" value="{{config.move_power_angle_1}}" min="0" max="100" step="1" value="45"> 
     <label for="i_move_power_angle_2">{% trans %}Power (target angle -4){% endtrans %}</label>
     <input type="text" id="i_move_power_angle_2" name="move_power_angle_2" value="{{config.move_power_angle_2}}" min="0" max="100" step="1" value="60">
     <label for="i_move_power_angle_3">{% trans %}Power (target angle -1){% endtrans %}</label>
     <input type="text" id="i_move_power_angle_3" name="move_power_angle_3" value="{{config.move_power_angle_3}}" min="0" max="100" step="1" value="60">
    </div>
    <div id="t_start" class="ui-body-d ui-content">
     <label for="i_load_at_start">{% trans %}Load at start{% endtrans %}</label>
     <input type="text" id="i_load_at_start" name="load_at_start" value="{{config.load_at_start}}">
    </div>
    <div id="t_button" class="ui-body-d ui-content">
     <fieldset data-role="controlgroup" data-mini="true">
      <legend>{% trans %}Button function{% endtrans %}</legend>
      <label for="r_button_func_a">{% trans %}None{% endtrans %}</label>
      <input type="radio" name="button_func" id="r_button_func_a" value="none" {%if config.button_func=='none'%}checked="checked"{%endif%}>
      <label for="r_button_func_b">{% trans %}Start/Stop current program{% endtrans %}</label>
      <input type="radio" name="button_func" id="r_button_func_b" value="startstop" {%if config.button_func=='startstop'%}checked="checked"{%endif%}>
     </fieldset>
    </div>
    <div id="t_ui" class="ui-body-d ui-content">
     <fieldset data-role="controlgroup" data-mini="true">
      <legend>{% trans %}User Interface{% endtrans %}</legend>
      <label for="c_show_page_control">{% trans %}Show Control page{% endtrans %}</label>
      <input type="checkbox" name="show_page_control" id="c_show_page_control" value="true" {%if config.show_page_control=='true'%}checked="checked"{%endif%}>
      <label for="c_show_control_move_commands">{% trans %}Show Control movement commands{% endtrans %}</label>
      <input type="checkbox" name="show_control_move_commands" id="c_show_control_move_commands" value="true" {%if config.show_control_move_commands=='true'%}checked="checked"{%endif%}>
      <label for="c_show_page_program">{% trans %}Show Program page{% endtrans %}</label>
      <input type="checkbox" name="show_page_program" id="c_show_page_program" value="true" {%if config.show_page_program=='true'%}checked="checked"{%endif%}>
      <label for="c_show_page_prefs">{% trans %}Show Preferences button{% endtrans %}</label>
      <input type="checkbox" name="show_page_prefs" id="c_show_page_prefs" value="true" {%if config.show_page_prefs=='true'%}checked="checked"{%endif%}>
     </fieldset>
    </div>
   <div id="t_wifi" class="ui-body-d ui-content">
    <a href="#popup-wifi" data-rel="popup" id="b_wifi_access_mode" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini">{% trans %}WiFi Client access mode{% endtrans %}</a>
   </div>
   <div id="t_halt" class="ui-body-d ui-content">
    <button id="b_halt" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-btn-icon-left ui-icon-power" type="button">{% trans %}Halt{% endtrans %}</button>
    <button id="b_restart" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-btn-icon-left ui-icon-refresh" type="button">{% trans %}Restart{% endtrans %}</button>
    <button id="b_reboot" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-btn-icon-left ui-icon-alert" type="button">{% trans %}Reboot{% endtrans %}</button>
    <button id="b_update" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-btn-icon-left ui-icon-alert" type="button">{% trans %}Update System{% endtrans %}</button>
   </div>
   <div class="ui-grid-a">
    <div class="ui-block-a"><a href="#" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-b ui-mini">{% trans %}Cancel{% endtrans %}</a></div>
    <div class="ui-block-b"><button type="submit" id="b_config_save" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini">{% trans %}Save{% endtrans %}</button></div>
   </div>
  </form>
 </div>
 <div data-role="popup" id="popup-wifi" data-history="false" data-theme="a" class="ui-corner-all" data-dismissible="false" data-position-to="window">
  <div style="padding:10px 20px;">
  <form class="config" id="f_wifi">
   <h3>{% trans %}WiFi Client mode access data{% endtrans %}</h3>
   <fieldset data-role="controlgroup" data-mini="true">
    <legend>{% trans %}WiFi mode{% endtrans %}</legend>
    <input type="radio" name="wifi_mode" id="r_wifi_mode_a" value="ap" {%if config.wifi_mode=='ap'%}checked="checked"{%endif%}>
    <label for="r_wifi_mode_a">{% trans %}Access Point{% endtrans %}</label>
    <input type="radio" name="wifi_mode" id="r_wifi_mode_b" value="client" {%if config.wifi_mode=='client'%}checked="checked"{%endif%}>
    <label for="r_wifi_mode_b">{% trans %}Client{% endtrans %}</label>
   </fieldset>
   <label for="i_wifi_ssid">{% trans %}WiFi name{% endtrans %}</label>
   <input type="text" id="i_wifi_ssid" name="wifi_ssid" value="{{config.wifi_ssid}}">
   <label for="i_wifi_psk">{% trans %}WiFi password{% endtrans %}</label>
   <input type="text" id="i_wifi_psk" name="wifi_psk" value="{{config.wifi_psk}}">
   <div class="ui-grid-a">
    <div class="ui-block-a"><a href="#" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-b ui-mini">{% trans %}Cancel{% endtrans %}</a></div>
    <div class="ui-block-b"><a href="#" id="b_wifi_apply" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini">{% trans %}Apply Wifi config{% endtrans %}</a></div>
   </div>
  </form>
  </div>
 </div>
 <div data-role="popup" id="popup-wifi-ap" data-history="false" data-theme="a" class="ui-corner-all" data-dismissible="false" data-position-to="window">
  <div style="padding:10px 20px;">
   <h3>{% trans %}WiFi AP mode access{% endtrans %}</h3>
   <p>{% trans %}Access Point mode is being set{% endtrans %}:
   <ol>
   <li>{% trans %}Wait 30 seconds{% endtrans %}</li>
   <li>{% trans %}Connect your device to the "coderbot" named wifi{% endtrans %}</li>
   <li>{% trans %}Click on the following link{% endtrans %}: <a href="http://coder.bot:8080">CoderBot (AP mode)</a></li>
   </ol>
   </p>
  </div>
 </div>
 <div data-role="popup" id="popup-wifi-client" data-history="false" data-theme="a" class="ui-corner-all" data-dismissible="false" data-position-to="window">
  <div style="padding:10px 20px;">
   <h3>{% trans %}WiFi Client mode access{% endtrans %}</h3>
   <p>{% trans %}Client mode is being set{% endtrans %}:
   <ol>
   <li>{% trans %}Wait 30 seconds{% endtrans %}</li>
   <li>{% trans %}Connect your device to your own wifi (wifi network must be connected to internet){% endtrans %}</li>
   <li>{% trans %}Click on the following link{% endtrans %}: <a href="http://coderbot.local:8080">CoderBot (client mode)</a></li>
   </ol>
   </p>
  </div>
 </div>
 <div data-role="popup" id="popup-update-system" data-history="false" data-theme="a" class="ui-corner-all" data-dismissible="false" data-position-to="window">
  <div style="padding:10px 20px;">
   <h3>{% trans %}System update{% endtrans %}</h3>
   <p>{% trans %}Update log (it may require several minutes){% endtrans %}:</p>
   <textarea readonly=true cols="80" rows="20" style="overflow-y: scroll; height: 100px; resize: none; " id="i_update_system_log"></textarea>
   <a href="#" id="b_update_system_close" data-rel="back" data-role="button" class="ui-btn ui-shadow ui-corner-all ui-btn-b ui-mini ui-disabled">{% trans %}Close{% endtrans %}</a>
  </div>
 </div>
 <div data-role="popup" id="popup-cnn-models" data-history="false" data-theme="a" class="ui-corner-all" data-dismissible="true" data-position-to="window">
  <div style="padding:10px 20px;">
   <h3>{% trans %}CNN Models{% endtrans %}</h3>
   <ul data-role="listview" data-inset="true" id="cnn-model-list">
   </ul>
   <h3>{% trans %}Train new CNN Model{% endtrans %}</h3>
    <form id="f_cnn_train" action="#">
     <label for="i_cnn_model_name">{% trans %}Model name{% endtrans %}</label>
     <input type="text" id="i_cnn_model_name" name="cnn_model_name" value="">
     <label for="i_cnn_image_tags">{% trans %}Image tags{% endtrans %}</label>
     <input type="text" id="i_cnn_image_tags" name="cnn_image_tags" value="">
     <label for="i_cnn_model_arch">{% trans %}Model architecture{% endtrans %}</label>
     <select name="cnn_model_arch" id="i_cnn_model_arch" value="">
       <option value="mobilenet_v2_1.0_128">MobileNet v2 1.0 128</option>
       <option value="mobilenet_v2_0.35_128">MobileNet v2 0.35 128</option>
       <option value="mobilenet_v2_1.0_224">MobileNet v2 1.0 224</option>
       <option value="mobilenet_v2_0.35_224">MobileNet v2 0.35 224</option>
       <option value="mobilenet_1.0_128">MobileNet v1 1.0 128</option>
       <option value="mobilenet_0.25_128">MobileNet v1 0.25 128</option>
       <option value="mobilenet_1.0_224">MobileNet v1 1.0 224</option>
       <option value="mobilenet_0.25_224">MobileNet v1 0.25 224</option>
     </select>
     <label for="i_cnn_model_train_steps">{% trans %}Training steps{% endtrans %}</label>
     <input type="range" id="i_cnn_train_steps" name="cnn_train_steps" min="10" max="100" step="10" value="50">
     <label for="i_cnn_learn_rate">{% trans %}Learning rate{% endtrans %}</label>
     <input type="range" id="i_cnn_learn_rate" name="cnn_learn_rate" value="0.01" min="0.001" max="0.1" step="0.001">
     <button class="ui-btn b_train_new_cnn_model">{% trans %}Train new Model{% endtrans %}</button>
   </form>
  </div>
 </div>
</div>

