<script type="text/javascript">
var CODERBOT_MOV_FW_DEF_SPEED={{config.move_fw_speed}};
var CODERBOT_MOV_FW_DEF_ELAPSE={{config.move_fw_elapse}};
var CODERBOT_MOV_TR_DEF_SPEED={{config.move_tr_speed}};
var CODERBOT_MOV_TR_DEF_ELAPSE={{config.move_tr_elapse}};

var BotMessages = Object();
BotMessages.Input = "{%trans%}Say what:{%endtrans%}";
BotMessages.Saved = "{%trans%}Saved{%endtrans%}";
BotMessages.ProgramSaved = "{%trans%}Program saved{%endtrans%}";
BotMessages.ProgramExists = "{%trans%}Program name already in use, overwrite?{%endtrans%}";
</script>

