<div data-role="page" id="page-control">
 <div data-role="header">
  <a href="#" id="a_bot_status" class="s_bot_status ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-check ui-btn-a">Online</a>
  <h1>CoderBot</h1>
  {%if config.show_page_prefs%}<a href="#page-preferences" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear">{% trans %}Preferences{% endtrans %}</a>{%endif%}
  <div data-role="navbar">
   <ul>
    <li><a href="#page-control">{% trans %}Control{% endtrans %}</a></li>
    {%if config.show_page_program%}<li><a href="#page-program">{% trans %}Program{% endtrans %}</a></li>{%endif%}
   </ul>
  </div><!-- /navbar -->
 </div>
 <div role="main" class="ui-content ui-content-stream">
 <div class="ui-content-hud"></div> 
  {%if config.ctrl_counter%}<div class="" style="position:fixed;left:32px;top:80px;">
   <button id="b_counter" class="ui-btn ui-btn-inline ui-btn-traslucent" type="button">0</button>
  </div>{%endif%}
  <div class="ui-grid-b" style="position:fixed; width:100%;bottom:0px;">
   <div class="ui-block-a" id="ui_control_left">
    {% if config.show_control_move_commands%}<fieldset class="ui-grid-solo">
     <div class="ui-block-a ui-center"><button id="b_forward" onclick="void(0)" class="ui-btn ui-btn-inline ui-icon-arrow-u ui-btn-icon-top ui-btn-traslucent" type="button">{% trans %}Forward{% endtrans %}</button></div>
    </fieldset>
    <fieldset class="ui-grid-a">
     <div class="ui-block-a ui-center"><button id="b_left" onclick="void(0)" class="ui-btn ui-btn-inline ui-icon-arrow-l ui-btn-icon-top ui-btn-traslucent" type="button">{% trans %}Left{% endtrans %}</button></div>
     <div class="ui-block-b ui-center"><button id="b_right" onclick="void(0)" class="ui-btn ui-btn-inline ui-icon-arrow-r ui-btn-icon-top ui-btn-traslucent" type="button">{% trans %}Right{% endtrans %}</button></div>
    </fieldset>
    <fieldset class="ui-grid-solo">
     <div class="ui-block-a ui-center"><button id="b_backward" onclick="void(0)" class="ui-btn ui-btn-inline ui-icon-arrow-d ui-btn-icon-top ui-btn-traslucent" type="button">{% trans %}Backward{% endtrans %}</button></div>
    </fieldset>
   {% endif %}
   </div>
   <div class="ui-block-b ui-center" id="ui_control_center">
   </div>
   <div class="ui-block-c ui-center" id="ui_control_right">
    <div class="ui-grid-solo">
     <div class="ui-block-a">
      <button id="b_say" class="ui-btn ui-btn-inline ui-icon-comment ui-btn-icon-top ui-btn-traslucent" type="button">{% trans %}Say{% endtrans %}</button>
     </div>
    </div>
    <div class="ui-grid-solo">
     <div class="ui-block-a">{%if cam%}
      <button id="b_camera" class="ui-btn ui-btn-inline ui-icon-camera ui-btn-icon-top ui-btn-traslucent" type="button">{% trans %}Photo{% endtrans %}</button>{%endif%}
     </div>
    </div>
    <div class="ui-grid-solo">
     <div class="ui-block-a">{%if cam%}
      <button id="b_video_rec" class="ui-btn ui-btn-inline ui-icon-video ui-btn-icon-top ui-btn-traslucent" type="button">{% trans %}Rec{% endtrans %}</button>
      <button id="b_video_stop" class="ui-btn ui-btn-inline ui-icon-cb-stop ui-btn-icon-top ui-btn-traslucent" type="button">{% trans %}Stop{% endtrans %}</button>{%endif%}
     </div>
     <div class="ui-block-a">{%if cam%}
      <button id="b_photos" class="ui-btn ui-btn-inline ui-icon-grid ui-btn-icon-top ui-btn-traslucent" type="button">{% trans %}Photos{% endtrans %}</button>{%endif%}
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<div data-role="page" id="page-photos">
 <div data-role="header">
  <a href="java" href="#" data-rel="back" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-carat-l ui-btn-a">{% trans %}Back{% endtrans %}</a>
  <h1>CoderBot</h1>
 </div>
 <div role="main" class="ui-content">
  <ul data-role="listview" data-inset="true" id="media">
  </ul>
 </div>
<div data-role="popup" id="popup-photo" class="photopopup" data-overlay-theme="a" data-corners="false" data-tolerance="30,15" data-position-to="window">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
<img id="photo_detail_img" src="" alt="Photo" width='640' height='480'>
<div id="photo_detail" class="ui-content-hud" style="position:absolute;"></div>
<div data-role="popup" id="photo_color_popup" data-theme="b" data-position-to="window">
 {% trans %}Color at point: {% endtrans %}<span id="photo_color_value"></span>
</div>
</div>
<div data-role="popup" id="popup-video" class="photopopup" data-overlay-theme="a" data-corners="false" data-tolerance="30,15">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
 <div id="video_detail" class="ui-content-hud" style="position:absolute;"></div> 
<video src="" alt="Video" autoplay controls>
Sorry, your browser does not support embedded videos.
</video>
</div>
</div>
