<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CoderBot</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet"  href="../static/css/bootstrap.min.css">
	<script src="js/jquery-2.1.0.min.js"></script>
	<script src="js/bootstrip-min.js"></script>
	<script src="js/coderbot.js"></script>
</head>
<body>
 <div class="nav-bar">
  <h1>CoderBot</h1>
 </div>
 <div class="container">
  <div class="row">
   <div class="col-md-2">
    <button id="b_forward" class="btn" type="button">Forward</button>
   </div>
  </div>
  <div class="row">
   <div class="col-md-1">   
	<button id="b_left" class="btn" type="button">Left</button>
   </div>
   <div class="col-md-1">   
	<button id="b_right" class="btn" type="button">Right</button>
   </div>
  </div>
  <div class="row">
   <div class="col-md-2">   
	<button id="b_backward" class="btn" type="button">Backward</button>
   </div>
  </div>
  <div class="row">
   <div class="col-md-1">   
	<div class="ui-block-a"><button id="b_signal_on" class="ui-btn ui-icon- ui-btn-icon-top" type="button">Signal On</button></div>
   </div>
   <div class="col-md-1">   
	<div class="ui-block-b"><button id="b_signal_off" class="ui-btn ui-icon- ui-btn-icon-top" type="button">Signal Off</button></div>
   </div>
  </div>
  <div class="row">
   <div class="col-md-2">   
    <iframe src="http://10.1.1.1:8090" width="320" height="240" style="display:block;margin: 0 auto;"></iframe>
   </div>
  </div>
 </div>
</body>
</html>
