<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>CoderBot</title>
 <link rel="icon" type="image/png" href="/images/icons/coderbot_logo_79.png"/>
 <link rel="stylesheet"  href="../css/jquery.mobile-1.4.5.min.css">
 <link rel="stylesheet"  href="../css/codemirror.css">
 <link rel="stylesheet"  href="../css/coderbot.css">
        <style>
html,
body,
#page-preferences {
  height: 100%;
  margin: 0;
  padding: 0;
}

#page-preferences,
#page-preferences * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#page-preferences .ui-content {
  height: inherit; /* inherit height without padding nor border */
}
        </style>
 {%include "config_params.html"%}
 <script type="text/javascript" src="js/blockly/blockly_compressed.js"></script>
 <script type="text/javascript" src="js/blockly/blocks_compressed.js"></script>
 <script type="text/javascript" src="js/blockly/python_compressed.js"></script>
 <script type="text/javascript" src="js/blockly/{{locale}}.js"></script>
 <script type="text/javascript" src="js/blockly/bot_{{locale}}.js"></script>
 <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
 <script type="text/javascript" src="js/jquery.mobile-1.4.5.min.js"></script>
 <script type="text/javascript" src="js/codemirror.js"></script>
 <script type="text/javascript" src="js/codemirror_python.js"></script>
 <script type="text/javascript" src="js/codemirror_matchbrackets.js"></script>
 <script type="text/javascript" src="js/modernizr.min.js"></script>
 <script type="text/javascript" src="js/mousetrap.min.js"></script>
 <script type="text/javascript" src="js/coderbot.js"></script>
 <script type="text/javascript" src="js/blockly/blocks.js"></script>
 <script type="text/javascript" src="js/control.js"></script>
 <script type="text/javascript" src="js/program.js"></script>
</head>
<body>
{%if config.show_page_control%}{%include "control.html"%}{%endif%}
{%if config.show_page_program%}{%include "program.html"%}{%endif%}
{%include "config.html"%}
</body>
</html>
