<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>CoderBot</title>
 <link rel="shortcut icon" href="favicon.ico">
 <link rel="stylesheet"  href="../css/jquery.mobile-1.4.2.min.css">
 {%include "config_params.html"%}
 <script type="text/javascript" src="js/blockly/blockly_compressed.js"></script>
 <script type="text/javascript" src="js/blockly/blocks_compressed.js"></script>
 <script type="text/javascript" src="js/blockly/javascript_compressed.js"></script>
 <script type="text/javascript" src="js/blockly/python_compressed.js"></script>
 <script type="text/javascript" src="js/blockly/{{locale}}.js"></script>
 <script type="text/javascript" src="js/blockly/bot_{{locale}}.js"></script>
 <script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
 <script type="text/javascript" src="js/jquery.mobile-1.4.2.min.js"></script>
 <script type="text/javascript" src="js/mousetrap.min.js"></script>
 <script type="text/javascript" src="js/coderbot.js"></script>
 <script type="text/javascript" src="js/blockly/blocks.js"></script>
 <script type="text/javascript" src="js/control.js"></script>
 <script type="text/javascript" src="js/program.js"></script>
</head>
<body>
{%include "control.html"%}
{%include "program.html"%}
{%include "config.html"%}
</body>
</html>
