<div data-role="page" id="page-program">
 <div data-role="header">
  <a href="#" id="a_bot_status" class="s_bot_status ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-check ui-btn-a">Online</a>
  <h1>CoderBot</h1>
  {%if config.show_page_prefs%}<a href="#page-preferences" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear">{% trans %}Preferences{% endtrans %}</a>{%endif%}
  <div data-role="navbar">
   <ul>
    {%if config.show_page_control%}<li><a href="#page-control">{% trans %}Control{% endtrans %}</a></li>{%endif%}
    <li><a href="#page-program">{% trans %}Program{% endtrans %}<span style="margin-left:10pt;" id="id_prog_name"></span></a></li>
   </ul>
  </div><!-- /navbar -->
 </div>
 <div role="main" class="ui-content">
{%if "basic" in config.prog_level%}
  <fieldset class="ui-grid-d">
   <div class="ui-block-a"><button id="b_new_prog" class="ui-btn ui-btn-icon-left ui-icon-cb-new" type="button">{% trans %}New{% endtrans %}</button></div>
   <div class="ui-block-b"><button id="b_load_prog" class="ui-btn ui-btn-icon-left ui-icon-cb-load" type="button">{% trans %}Load{% endtrans %}</button></div>
   <div class="ui-block-c"><button id="b_save_prog" class="ui-btn ui-btn-icon-left ui-icon-cb-save" type="button">{% trans %}Save{% endtrans %}</button></div>
   <div class="ui-block-d"><button id="b_run_prog" class="ui-btn ui-btn-icon-left ui-icon-cb-run" type="button">{% trans %}Run{% endtrans %}</button></div>
   <div class="ui-block-e"><button id="b_show_last" class="ui-btn ui-btn-icon-left ui-icon-video" type="button">{% trans %}Show last{% endtrans %}</button></div>
  </fieldset>
{%else%}
  <fieldset class="ui-grid-c">
   <div class="ui-block-a"><button id="b_new_prog" class="ui-btn ui-btn-icon-left ui-icon-cb-new" type="button">{% trans %}New{% endtrans %}</button></div>
   <div class="ui-block-b"><button id="b_load_prog" class="ui-btn ui-btn-icon-left ui-icon-cb-load" type="button">{% trans %}Load{% endtrans %}</button></div>
   <div class="ui-block-c"><button id="b_save_prog" class="ui-btn ui-btn-icon-left ui-icon-cb-save" type="button">{% trans %}Save{% endtrans %}</button></div>
   <div class="ui-block-c"><button id="b_save_prog_as" class="ui-btn ui-btn-icon-left ui-icon-cb-copy" type="button">{% trans %}Save as{% endtrans %}</button></div>
  </fieldset>
  <fieldset class="ui-grid-a">
   <div class="ui-block-a"><button id="b_show_prog" class="ui-btn ui-btn-icon-left ui-icon-cb-code" type="button">{% trans %}Show{% endtrans %}</button></div>
   <div class="ui-block-b"><button id="b_run_prog" class="ui-btn ui-btn-icon-left ui-icon-cb-run" type="button">{% trans %}Run{% endtrans %}</button></div>
   <!--div class="ui-block-c"><button id="b_end_prog" class="ui-btn ui-btn-icon-left ui-icon-cb-stop" type="button">{% trans %}Stop{% endtrans %}</button></div-->
  </fieldset>
{%endif%}
  <div id="editorDiv" style="height: 480px; left:4px; right:4px;"></div>
  {%include "blocks_"+program_level+".xml"%}
 </div>
 <div data-role="popup" id="dialogRunning" data-history="false" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:680px;">
  <div data-role="header" data-theme="a">
   <h1 id="i_dialog_running_title">CoderBot {% trans %}is running{% endtrans %}</h1> 
  </div>
  <div role="main" class="ui-content">
   <div class="ui-content-stream-program" style="width:640px;height:480px;">
   <div class="ui-content-hud"></div>
   </div>
   <div class="ui-content-log"><textarea id="t_logging"></textarea></div>
   <button href="#" id="b_end_prog_d" class="ui-btn ui-corner-all ui-shadow ui-btn-b" data-rel="back">End program</button>
  </div>
 </div>
 <div data-role="popup" id="dialogNewProg" data-history="false" data-theme="a" class="ui-corner-all">
  <div style="padding:10px 20px;">
   <h3>{% trans %}New Program{% endtrans %}</h3>
   <label for="un" class="ui-hidden-accessible">{% trans %}Program name{% endtrans %}:</label>
   <input type="text" name="name" id="i_new_prog_name" value="" placeholder="{% trans %}Program name{% endtrans %}" data-theme="a">
   <button type="button" id="b_new_prog_post" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">{% trans %}Create{% endtrans %}</button>
  </div>
 </div>
 <div data-role="popup" id="dialogSaveProgAs" data-history="false" data-theme="a" class="ui-corner-all">
  <div style="padding:10px 20px;">
   <h3>{% trans %}Save Program As{% endtrans %}</h3>
   <label for="un" class="ui-hidden-accessible">{% trans %}Program name{% endtrans %}:</label>
   <input type="text" name="name" id="i_save_prog_as_name" value="" placeholder="{%trans%}Program name{%endtrans%}" data-theme="a">
   <button type="button" id="b_save_prog_as_post" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">{% trans %}Create{% endtrans %}</button>
  </div>
 </div>
 <div data-role="popup" id="dialogLoadProg" data-history="false" data-theme="a" class="ui-corner-all">
  <div style="padding:10px 20px;">
   <h3>{% trans %}Load Program{% endtrans %}</h3>
   <ul id="i_prog_list" data-role="listview" data-split-icon="delete" data-split-theme="a" data-inset="true"></ul>
  </div>
 </div>
<div data-role="popup" id="popup-video" class="photopopup" data-overlay-theme="a" data-corners="false" data-tolerance="30,15" data-position-to="window">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
 <div class="ui-content-hud" style="position:absolute;"></div>
<video src="" alt="Video" autoplay controls>
Sorry, your browser does not support embedded videos.
</video>
</div>
</div>
